# Ignore Play! working directory #
db
eclipse
lib
log
logs
modules
precompiled
project/project
project/target
target
tmp
test-result
server.pid
*.iml
*.eml
activator-*.sbt
play-guice/*
test/e2e/undefined/*
test/undefined/*
test/e2e/resources/mock/rest/*/*/*/mock/response.txt
.idea
.DS_Store
test/e2e/results
.scannerwork
node_modules
main.js
main.js.LICENSE.txt
